<div id="message_window">
  <% form_tag secure_user_request_path(@secure_user_request.external_id), :method => :put do %>
    <%= hidden_field_tag :id, @secure_user_request.external_id %><!-- FIXME muss das sein? -->
    <div class="message">
      <p>
        Sie haben ein neues Passwort angefordet? Dann geben Sie bitte Ihr neues Passwort ein.
      </p>
    </div>
    <%= make_if_error_messages_for @secure_user_request.user  %>
    <div class="message">
      <p>
        <%= label_tag :password, t('secure_user_request.password') %><br />
        <%= password_field_tag :password %>
      </p>
      <p>
        <%= label_tag :confirm_password, t('secure_user_request.confirm_password') %><br />
        <%= password_field_tag :confirm_password %>
      </p>
    </div>
    <div class="response">
      <%= new_a_button_to(
        'Anfrage abbrechen',
        destroy_secure_user_request_path(@secure_user_request.external_id),
        :confirm => 'Die Anfrage wird endgültig abgebrochen. Sind Sie sicher?'
      ) %>
      <%= submit_tag 'Speichern!' %>
    </div>
  <% end %>
  <%= set_focus_to :password %>
</div>
