<div id="message_window">
  <% form_for @secure_user_request, :url => secure_user_requests_path do |f| %>
    <%= hidden_field_tag :type, @secure_user_request.type %>
    <div class="message" >
      <p>
        Bitte geben Sie ihren Benutzernamen an. Wir werden Ihnen eine E-Mail mit weiteren Anweisungen an die
        in ihrem Profil angegebene E-Mail-Adresse schicken.
      </p>
    </div>
    <%= make_if_error_messages_for @secure_user_request  %>
    <div class="message">
      <p>
        <%= label_tag :login, t('activerecord.attributes.user.login') %><br />
        <%= text_field_tag :login, (logged_in? ? @current_user.login : nil), :class => 'value' %>
      </p>
    </div>
    <div class="response">
      <%= a_button_to(
        'Abbrechen.',
        new_session_path
      ) %>
      <%= submit_tag 'Absenden!' %>
    </div>
  <% end %>
  <%= set_focus_to :login %>
</div>
