<div class="user_index <%= positional_class %>">
  <h2>
    <%= human_type %>
    <%= link_to(
      image_tag('pictogram/small/new.png'),
      new_profile_path(:type => type_as_param(type)),
      :class => 'toolbutton',
      :title => "Neuen #{human_type} eintragen"
    ) %>
  </h2>
  <% unless users.empty? %>
    <ul class="infobox">
      <%= render :partial => 'user', :collection => users %>
    </ul>
  <% else %>
    <div class="infobox">
      <h1 class="empty">Keine <%= human_type %> eingetragen.</h1>
    </div>
  <% end %>
</div>
