<div class="user_index <%= positional_class %>">
  <h2>
    <%= human_type %>
    <%= link_to(
      image_tag('pictogram/small/new.png'),
      new_profile_path(:type => type_as_param(type)),
      :class => 'toolbutton',
      :title => "Neuen #{human_type} eintragen"
    ) %>
  </h2>
  <ul class="infobox">
    <% unless users.empty? %>
      <%= render :partial => 'user', :collection => users %>
    <% else %>
      <li class="empty">Keine <%= human_type %> eingetragen.</li>
    <% end %>
  </ul>
</div>
