%li
  - link_to profile_path(user.login), :title => 'Profil anzeigen' do
    #{user.name} (#{user.login})
  - if not user.registration? :confirmed
    %span.annotation_mark{:title => "#{user.class.human_name} muss noch bestätigt werden.",
      :onclick => "copyToClipboard('#{confirm_registration_url(user)}')"}
      *
  - elsif user.registration? :denied
    %span.annotation_mark{:title => "#{user.class.human_name} hat die Bestätigung abgelehnt."}
      %sup &dagger;
