<div id="message_window">
  <% form_tag password_path, :method => :put do %>
    <div class="message">
      <p>
        Bitte geben Sie ihr aktuelles Passwort ein, wählen danach ein neues Passwort und bestätigen
        dieses.
      </p>
    </div>
    <%= make_if_error_messages_for @user  %>
    <div class="message">
      <p>
        <%= label_tag :password, t('activerecord.attributes.user.password') %><br />
        <%= password_field_tag :password, nil, :class => 'value' %>
      </p>
    </div>
    <div class="message">
      <p>
        <%= label_tag :new_password, t('activerecord.attributes.user.new_password') %><br />
        <%= password_field_tag :new_password, nil, :class => 'value' %>
      </p>
      <p>
        <%= label_tag :confirm_new_password, t('activerecord.attributes.user.confirm_new_password') %><br />
        <%= password_field_tag :confirm_new_password, nil, :class => 'value' %>
      </p>
    </div>
    <div class="response">
      <%= a_button_to(
        'Abbrechen.',
        my_profile_path
      ) %>
      <%= submit_tag 'Speichern!' %>
    </div>
  <% end %>
  <%= set_focus_to :password %>
</div>
