<div id="message_window" class="edit">
  <% form_for :profile, @user, :url => @show_path, :html => {:method => @method} do |f| %>
    <%= f.hidden_field :type %>
    <div class="administration">
      <%= a_button_to 'Abbrechen', @show_path %>
      <%= submit_tag 'Speichern!' %>
    </div>
    <%= make_if_error_messages_for @user  %>
    <h1 class="profile user">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => 'value name' %>
    </h1>
    <% if logged_in? Employee %>
      <div class="profile login">
        <%= f.label :login %><br>
        <%= f.text_field :login, :class => 'value login' %>
      </div>
    <% end %>
    <% if logged_in? Employee %>
      <div class="profile">
        <%= f.label :notes %>
        <div class="infobox notes value">
          <%= f.text_area :notes %>
        </div>
      </div>
    <% end %>
    <!--h2>Kontakt</h2>
    <div class="message">
      <div class="profile name">
        <span class="value">Prof. Dr. Heinz Mustermann<span>
      </div>
      <div class="profile postal_address">
        <span class="value">
          Lindenallee 13<br>
          12345 Musterstadt<br>
          Deutschland
        <span>
      </div>
      <ul class="profile email_address">
        <li>
          <span class="value"><%= mail_to 'heinz.mustermann@firma.de' %><span>&emsp;
          <span class="label">geschäftlich</span>
        </li>
        <li>
          <span class="value"><%= mail_to 'info@firma.de' %><span>&emsp;
          <span class="label">geschäftlich</span>
        </li>
      </ul>
      <ul class="profile phone_number">
        <li>
          <span class="value">+49 4521 765897<span>&emsp;
          <span class="label">geschäftlich</span>
        </li>
        <li>
          <span class="value">+49 1520 17549320<span>&emsp;
          <span class="label">mobil</span>
        </li>
      </ul-->
    </div>
  <% end %>
  <%= set_focus_to 'profile_name' %>
</div>

