#message_window
  .administration
    = link_to image_tag('pictogram/medium/edit.png'), edit_path, :class => 'toolbutton',
      :title => "Profil bearbeiten."
    - unless @my_profile
      = link_to image_tag('pictogram/medium/destroy.png'), show_path, :class => 'toolbutton',
        :title => "Profil löschen.", :method => :delete,
        :confirm => "Das Profil von\n\n#{@profile.name}\n\nwird dauerhaft gelöscht. Sind Sie sicher?"
  - if logged_in? Employee
    %p.type &mdash; #{@profile.class.human_name} &mdash;
  %h1
    = @profile.name
  - if @my_profile
    .password
      .value
        = link_to 'Passwort ändern', edit_password_path
  .profile.login
    .label= t('activerecord.attributes.user.login')
    .value= @profile.login
  .profile.primary_email_address
    .label= t('activerecord.attributes.user.primary_email_address')
    .value= @profile.primary_email_address
  - if not @profile.registration? :confirmed
    .error.message
      %p Dieser Benutzer muss noch bestätigt werden.
      %p= a_button_to 'Bestätigungslink kopieren', confirm_registration_url(@profile),
          :onclick => 'copyToClipboard(this.href); return false;'
      .h2.center &mdash; oder &mdash;
      %p= button_to_remote 'Bestätigungsmail versenden',
        {:url => confirm_registration_request_path(:login => @profile.login, :sendmail => true),
        :method => :post,
        :confirm => "Es wird eine E-Mail an\n\n#{@profile.email_address_with_name}\n\nversandt. Fortfahren?"},
        :href => confirm_registration_request_path(:user => @profile.login, :sendmail => true)
  - elsif logged_in? Employee and @profile.registration?(:denied)
    .error.message
      %p Dieser Benutzer ist nicht bestätigt.
      - form_tag confirm_registration_request_path, :method => :post do
        = hidden_field_tag :login, @profile.login
        %p= submit_tag "#{t('activerecord.models.secure_user_request/confirm_registration')} wiederholen"
  - if logged_in? Employee
    .profile
      .label= t('activerecord.attributes.user.groups')
      .infobox.groups.value.tags
        %ul#groups
          = render :partial => 'tag', :collection => @profile.groups, :locals => {:profile => @profile}
          :javascript
            $('groups').insert(new Element('li', {'class': 'new tag'}));
            item = $('groups').childElements().last();
            item.insert("#{escape_javascript link_to_remote('+',
              :url => profile_groups_path(@profile.login, :id=>'Add'), :update => 'groups',
              :html => {:href => profile_groups_path(@profile)})}")
        = clear_float
    - unless @profile.notes.blank?
      .label= t('activerecord.attributes.user.notes')
      .profile
        .infobox.notes.value= @profile.notes
  -#
    %h2 Kontakt
    .profile.name
      %span.value Prof. Dr. Heinz Mustermann
    .profile.postal_address
      %span.value
        Lindenallee 13
        %br
        12345 Musterstadt
        %br
        Deutschland
    %ul.profile.email_address
      %li
        %span.value= mail_to 'heinz.mustermann@firma.de'
        &emsp;
        %span.label geschäftlich
      %li
        %span.value= mail_to 'info@firma.de'
        &emsp;
        %span.label geschäftlich
    %ul.profile.phone_number
      %li
        %span.value +49 4521 765897
        &emsp;
        %span.label geschäftlich
      %li
        %span.value +49 1520 17549320
        &emsp;
        %span.label mobil
