<div id="message_window">
  <div class="administration">
    <%= link_to(
      image_tag('pictogram/medium/edit.png'),
      @edit_path,
      :class => 'toolbutton',
      :title => "Profil bearbeiten."
    ) %>
    <%= link_to(
      image_tag('pictogram/medium/destroy.png'),
      @show_path,
      :class => 'toolbutton',
      :title => "Profil löschen.",
      :method => :delete,
      :confirm => "Das Profil von\n\n#{@user.name}\n\nwird dauerhaft gelöscht. Sind Sie sicher?"
    ) unless @my_profile %>
  </div>
  <h1>
    <%= @user.name %>
  </h1>
  <div class="profile login">
    <span class="label"><%= t('activerecord.attributes.user.login') %>:</span>
    <span class="value"><%= @user.login %></span>&emsp;
    <%= link_to '(Passwort ändern)', static_path(:fehlt) if @my_profile %>
  </div>
  <% unless @confirm_registration.nil? %>
    <div class="error message">
      <p>
        Dieser Benutzer muss noch bestätigt werden.<br>
        Bitte den folgenden Link an den Benutzer schicken:
      </p>
      <p>
        <%= link_to(
          t('secure_user_request.confirm_registration'),
          confirm_registration_url(@user),
          :onclick => 'copyToClipboard(this.href); return false;'
        ) %>
      </p>
    </div>
  <% end %>
  <% if logged_in? Employee and not @user.notes.blank? %>
    <div class="profile">
      <div class="infobox notes value">
        <%= parse_formatted_text @user.notes %>
      </div>
    </div>
  <% end %>
  <!--h2>Kontakt</h2>
  <div class="profile name">
    <span class="value">Prof. Dr. Heinz Mustermann<span>
  </div>
  <div class="profile postal_address">
    <span class="value">
      Lindenallee 13<br>
      12345 Musterstadt<br>
      Deutschland
    <span>
  </div>
  <ul class="profile email_address">
    <li>
      <span class="value"><%= mail_to 'heinz.mustermann@firma.de' %><span>&emsp;
      <span class="label">geschäftlich</span>
    </li>
    <li>
      <span class="value"><%= mail_to 'info@firma.de' %><span>&emsp;
      <span class="label">geschäftlich</span>
    </li>
  </ul>
  <ul class="profile phone_number">
    <li>
      <span class="value">+49 4521 765897<span>&emsp;
      <span class="label">geschäftlich</span>
    </li>
    <li>
      <span class="value">+49 1520 17549320<span>&emsp;
      <span class="label">mobil</span>
    </li>
  </ul-->
</div>

