<div id="message_window">
  <% form_tag session_path do %>
    <%= hidden_field_tag 'referer', @referer %>
    <h1>Anmelden</h1>
    <% if flash[:wrong_login_or_password] %>
      <div class="message error">
        Falscher Benutzername oder Passwort.
      </div>
    <% end %>
    <div class="message">
      <p>
        <%= label_tag :login, t('activerecord.attributes.user.login') %>
        <%= text_field_tag :login, @login, :class => 'value', :tabindex => 1 %>
      </p>
      <p>
        <%= label_tag :password, t('activerecord.attributes.user.password') %>
        <small>
          <%= link_to '(vergessen?)', new_reset_password_request_path, :tabindex => 3 %>
        </small>
        <%= password_field_tag :password, nil, :class => 'value', :tabindex => 2 %>
      </p>
    </div>
    <div class="response">
      <%= submit_tag 'Anmelden!' %>
      <p style="font-size: 75%;">
        Sind Sie bereits Kunde von uns? Dann <%= link_to 'melden Sie sich', static_path(:kontakt) %>
        bei uns.
      </p>
    </div>
  <% end %>
  <%= set_focus_to (@login ? :password : :login) %>
</div>

