<div id="<%= article.html_id %>" class="article">
  <div class="title">
    <%= article.name %>
  </div>
  <div class="body">
    <div class="image">
      <%= link_to_remote(
        image_tag(article.picture.url(:medium), :alt => article.name),
        :url => article_picture_path(article.id),
        :method => :get,
        :html => {
          :href => article_picture_path(article.id),
          :target => '_blank',
          :title => 'Klicken zum Vergrößern des Bildes.'}
      ) %>
    </div>
    <% if superuser_logged_in? %>
      <div class="administration">
        <% if flash[:saved_article_id] === article.id %>
          <span class="message">Änderungen gespeichert.</span>
        <% end %>
        <%= link_to_remote 'Bearbeiten', :url => edit_article_path(article), :method => :get %> |
        <%= link_to 'Löschen', ask_destroy_article_url(article.url_hash) %>
      </div>
    <% end %>
    <div class="description">
      <%= article.description %>
    </div>
    <!--div class="dimensions">
      <span class="label">Größe:</span> ca. 13x20x12 cm
    </div-->
    <% if user_logged_in? %>
      <div class="price">
        <%= article.format :price %> €
      </div>
    <% end %>
    <div class="article_number">
      <span class="label">Artikelnummer:</span>
      <span class="value">
        <%= article.article_number %>
      </span>
    </div>
  </div>
</div>

