<div id="<%= article.html_id %>" class="article">
  <h2>
    <span><%= article.name %></span>
    <% if logged_in? Employee %>
      <%= toolbutton_to_remote(
        :left_header_image,
        :size => :small,
        :url => header_images_path(:id => 'links', :article_number => article.article_number),
        :method => :put,
        :html => {
            :href => header_images_path(:id => 'links', :article_number => article.article_number),
            :title => "Bild links neben dem LEIKOR-Logo anzeigen"}
      ) %>
      <%= toolbutton_to_remote(
        :right_header_image,
        :size => :small,
        :url => header_images_path(:id => 'rechts', :article_number => article.article_number),
        :method => :put,
        :html => {
            :href => header_images_path(:id => 'rechts', :article_number => article.article_number),
            :title => "Bild rechts neben dem LEIKOR-Logo anzeigen"}
      ) %>
      <%= toolbutton_to(
        :link,
        subcategory_path(article.subcategory.url_hash(:anchor => article.html_id)),
        :size => :small,
        :title => article.name,
        :onclick => 'copyToClipboard(this.href); return false;'
      ) %>
      <%= toolbutton_to_remote(
        :edit,
        :size => :small,
        :url => edit_article_path(article),
        :method => :get,
        :html => {:title => "„#{article.name}“ bearbeiten."}
      ) %>
      <%= toolbutton_to(
        :destroy,
        ask_destroy_article_url(article.url_hash),
        :method => :get,
        :size => :small,
        :title => "„#{article.name}“ löschen!"
      ) %>
    <% end %>
  </h2>
  <div class="body">
    <div class="image">
      <%= link_to_remote(
        image_tag(article.picture.url(:medium), :alt => article.name),
        :url => article_picture_path(article.id),
        :method => :get,
        :html => {
          :href => article_picture_path(article.id),
          :target => '_blank',
          :title => 'Klicken zum Vergrößern des Bildes.'}
      ) %>
    </div>
    <% if logged_in? Employee %>
      <div class="administration">
        <% if flash[:saved_article_id] === article.id %>
          <span class="message">Änderungen gespeichert.</span>
        <% end %>
      </div>
    <% end %>
    <div class="description">
      <%= article.description %>
    </div>
    <!--div class="dimensions">
      <span class="label">Größe:</span> ca. 13x20x12 cm
    </div-->
    <% if logged_in? %>
      <div class="price">
        <%= article.format :price %> €
      </div>
    <% end %>
    <div class="article_number">
      <span class="label">Artikelnummer:</span>
      <span class="value">
        <%= article.article_number %>
      </span>
    </div>
    <div class="clear"></div>
  </div>
</div>

