<div id="<%= article.html_id %>" class="article edit">
  <% action = article.new_record? ? 'create' : 'update' %>
  <% remote_form_for(
    article,
    :url => {:action => action, :html_id => article.html_id}
  ) do |f| %>
    <%= f.hidden_field :subcategory_id %>
    <h2>
      <%= f.text_field :name, :size => 40, :tabindex => 1 %>
    </h2>
    <div class="body">
      <div class="administration">
        <% unless article.new_record? %>
          <%= button_to_remote 'Abbrechen', {:url => edit_article_path(article, :cancel => true), :method => :get}, :tabindex => 7 %>
        <% else %>
          <%= button_to_remote 'Abbrechen', {:url => new_article_path(:html_id => article.html_id, :cancel => true), :method => :get}, :tabindex => 7 %>
        <% end %>
        <%= submit_tag 'Speichern!', :tabindex => 6 %>
      </div>
      <%= make_if_error_messages_for article  %>
      <%= f.text_area :description, :cols => 40, :rows => 6, :class => 'description', :tabindex => 2 %>
      <div class="image">
        <% unless article.new_record? %>
          <%= link_to(
            image_tag(article.picture.url(:thumb)),
            edit_article_picture_path(article.id),
            :onclick => "$(this).replaceSurroundedImage('#{image_path 'picture/thumb/in_work.png'}') && #{open_popup}",
            :title => 'Klicken um das Bild zu bearbeiten.',
            :tabindex => 5
          ) %>
        <% else %>
          <%= image_tag(article.picture.url(:thumb)) %>
        <% end %>
      </div>
      <!--span class="dimensions">
        <label class="label" for="estimate_1">Größe:</label>
        <select id="estimate_1">
          <option value="0"></option>
          <option value="1" selected>ca.</option>
        </select>
        <input type="text" id="width_1" size="3" value="13"> &times;
        <input type="text" id="height_1" size="3" value="20"> &times;
        <input type="text" id="depth_1" size="3" value="12">
        <select id="unit_1">
          <option value="mm">mm</option>
          <option value="cm" selected>cm</option>
          <option value="m">m</option>
        </select>
      </span-->
      <div class="price">
        <%= f.text_field :price, :value => article.format(:price), :size => 7, :tabindex => 3 %> €
      </div>
      <div class="article_number">
        <%= f.label :article_number, 'Artikelnummer:', :class => 'label' %>
        <%= f.text_field :article_number, :size => 8, :maxlength => 8, :class => 'value', :tabindex => 4 %>
      </div>
    </div>
  <% end %>
  <%= set_focus_to 'article_name' %>
</div>

