<div id="footer">
  <%= static_link_to :kontakt %> |
  <%= static_link_to :impressum %> |
  <%= static_link_to :AGB %> |
  <% unless user_logged_in? %>
    <%= link_to 'Anmelden', new_session_path %>
  <% else %>
    <%= link_to 'Abmelden', session_destroy_path %>
  <% end %>
  <br>
  ©2011 <%= static_link_to :impressum, :label => 'LEIKOR', :anchor => 'urheberrechte' %> &bull;
  Stand: <%=l @updated_at, :format => :short %>
</div>

