<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="de">
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body>
    <%= render :partial => 'layouts/message' %>
    <div id="header">        
      <div id="important_links">
        <% if user_logged_in? %>
          <span class="logged_in_user">
            <span class="name"><%= @current_user.name %></span>
            (<%= link_to 'abmelden', session_destroy_path %>)
          </span>
        <% end %> 
        <%= link_to 'Kontakt', static_path('kontakt') %> |
        <%= link_to 'Impressum', static_path('impressum') %> |
        <%= link_to 'AGB', static_path('AGB') %>
      </div>
      <div id="logo_container">
        <%= link_to(
          image_tag(
            'leikor.png',
            :alt => 'LEIKOR-Logo',
            :title => 'Zurück zur Startseite'
          ),
          :root
        ) %>
      </div>
      <div id="top_navigation">
        <!--a>News</a-->
        <%= link_to 'Sortiment', :categories %>
        <!--a>Angebote</a-->
        <!--a>Messetermine</a-->
        <%= link_to 'Über uns', static_path('ueber_uns') %>
        <%= link_to 'Farbpalette', static_path('colors') if RAILS_ENV == 'development' %>
      </div>
    </div>
    <div id="body">
      <%= yield %>
    </div>
    <%= render :partial => 'layouts/footer' %>
    <div id="picture_viewer"></div>
  </body>
</html>
