<div id="message_window">
  <div class="edit">
    <div class="administration">
      <%= button_to 'Abbrechen', static_path(:profil), :method => :get %>
      <%= submit_tag 'Speichern!' %>
    </div>
    <h1 class="profile user">
      <%= label_tag 'name', 'Firmenname' %><br>
      <%= text_field_tag 'name', 'Meine Firma', :class => 'value name' %>
    </h1>
    <h2>Kontakt</h2>
    <%= hidden_field_tag 'contact[scope][]', 'Kontakt' %>
    <div class="message">
      <div class="profile name">
        <%= label_tag 'contact[name][]', 'Name' %><br>
        <%= text_field_tag 'contact[name][]', 'Prof. Dr. Heinz Mustermann', :class => 'value name' %>
      </div>
      <div class="profile postal_address">
        <%= label_tag 'contact[postal_address][street][]', 'Straße' %><br>
        <%= text_field_tag(
          'contact[postal_address][street][]',
          'Lindenallee 13',
          :class => 'value street'
        ) %>
        <br>
        <%= label_tag 'contact[postal_address][postcode][]', 'PLZ' %> /
        <%= label_tag 'contact[postal_address][city][]', 'Ort' %><br>
        <%= text_field_tag(
          'contact[postal_address][postcode][]',
          '12345',
          :class => 'value postcode',
          :size => 5,
          :maxlength => 5
        ) %>
        <%= text_field_tag 'contact[postal_address][city][]', 'Musterstadt', :class => 'value city' %>
        <br>
        <%= label_tag 'contact[postal_address][country][]', 'Land' %><br>
        <%= text_field_tag 'contact[postal_address][country][]', 'Deutschland', :class => 'value country' %>
      </div>
      <ul class="profile email_address">
        <li>
          <%= label_tag 'contact[email_address][adress][]', 'E-Mail-Adresse' %> /
          <%= label_tag 'contact[email_address][scope][]', 'Bereich' %>
        </li>
        <li>
          <%= text_field_tag(
            'contact[email_address][adress][]',
            'heinz.mustermann@firma.de',
            :class => 'value email_address'
          ) %>
          <%= text_field_tag(
            'contact[email_address][scope][]',
            'geschäftlich',
            :class => 'value scope',
            :size => 10
          ) %>
        </li>
        <li>
          <%= text_field_tag(
            'contact[email_address][adress][]',
            'info@firma.de',
            :class => 'value email_address'
          ) %>
          <%= text_field_tag(
            'contact[email_address][scope][]',
            'geschäftlich',
            :class => 'value scope',
            :size => 10
          ) %>
        </li>
        <li>
          <%= link_to '+ weitere Adresse', '#' %>
        </li>
      </ul>
      <ul class="profile phone_number">
        <li>
          <%= label_tag 'contact[phone_number][country][]', 'Telefonnummer' %> /
          <%= label_tag 'contact[phone_number][scope][]', 'Bereich' %>
        </li>
        <li>
          +
          <%= text_field_tag(
            'contact[phone_number][country][]',
            '49',
            :class => 'value country',
            :size => 2,
            :maxlength => 2
          ) %>
          <%= text_field_tag(
            'contact[phone_number][prefix][]',
            '4521', :class => 'value prefix',
            :size => 4
          ) %>
          <%= text_field_tag(
            'contact[phone_number][number][]',
            '765897',
            :class => 'value number',
            :size => 10
          ) %>
          <%= text_field_tag(
            'contact[phone_number][scope][]',
            'geschäftlich',
            :class => 'value scope',
            :size => 10
          ) %>
        </li>
        <li>
          +
          <%= text_field_tag(
            'contact[phone_number][country][]',
            '49',
            :class => 'value country',
            :size => 2,
            :maxlength => 2
          ) %>
          <%= text_field_tag(
            'contact[phone_number][prefix][]',
            '1520',
            :class => 'value prefix',
            :size => 4
          ) %>
          <%= text_field_tag(
            'contact[phone_number][number][]',
            '17549320',
            :class => 'value number',
            :size => 10
          ) %>
          <%= text_field_tag(
            'contact[phone_number][scope][]',
            'mobil',
            :class => 'value scope',
            :size => 10
          ) %>
        </li>
        <li>
          <%= link_to '+ weitere Nummer', '#' %>
        </li>
      </ul>
      <div class="profile">
        <div>
          <%= label_tag 'contact[notes]', 'Notizen' %>
        </div>
        <div class="infobox notes value">
          <%= text_area_tag 'contact[notes]', "Bitte nur in den Geschäftszeiten anrufen:\nMo-Fr, 9:00 - 18:00 Uhr" %>
        </div>
      </div>
    </div>
  </div>
</div>

