%li.fair_date.infobox
  %h2
    %span.title= fair_date.name
    - if logged_in? Employee
      = link_to image_tag('pictogram/small/edit.png'), edit_fair_date_path(fair_date),
        :class => 'toolbutton', :title => "Messetermin bearbeiten"
      = link_to image_tag('pictogram/small/destroy.png'), fair_date_path(fair_date),
        :method => :delete,
        :confirm => "Soll der Messetermin „#{fair_date.name}“ wirklich gelöscht werden?",
        :class => 'toolbutton', :title => "Messetermin löschen"
  %ul.info
    %li.date
      = l(fair_date.from_date, :format => :short).gsub ' ', '&nbsp;'
      &nbsp;-&nbsp;
      = l(fair_date.to_date, :format => :short_with_year).gsub ' ', '&nbsp;'
    %li.stand
      %span.label Stand:
      - if fair_date.stand?
        = fair_date.stand
      - else
        %span.not_present noch unbekannt
    - if fair_date.homepage?
      %li.website
        %span.label Website:
        = link_to nice_url(fair_date.homepage), fair_date.homepage
  - if fair_date.comment?
    %p.comment= fair_date.comment
  =clear_float
