<li class="infobox">
  <% if superuser_logged_in? %>
    <div class="administration">
      <%= link_to(
        image_tag('pictogram/small/edit.png'),
        edit_fair_date_path(fair_date),
        :class => 'toolbutton',
        :title => "Messetermin bearbeiten",
        :onclick => open_popup) %>
      <%= link_to(
        image_tag('pictogram/small/destroy.png'),
        fair_date_path(fair_date),
        :method => :delete,
        :confirm => "Soll der Messetermin „#{fair_date.name}“ wirklich gelöscht werden?",
        :class => 'toolbutton',
        :title => "Messetermin löschen") %>
    </div>
  <% end %>
  <h2><%= fair_date.name %></h2>
  <ul class="info">
    <li class="date">
      <%= l(fair_date.from_date, :format => :short).gsub ' ', '&nbsp;' %>
      &nbsp;-&nbsp;
      <%= l(fair_date.to_date, :format => :short_with_year).gsub ' ', '&nbsp;' %>
    </li>
    <li class="stand">
      <span class="label">
        Stand:
      </span>
      <% if fair_date.stand? %>
        <%= fair_date.stand %>
      <% else %>
        <span class="not_present">Noch unbekannt</span>
      <% end %>
    </li>
    <% if fair_date.homepage? %>
      <li class="website">
        <span class="label">
          Website:
        </span>
        <%= link_to fair_date.homepage, fair_date.homepage %>
      </li>
    <% end %>
  </ul>
  <% if fair_date.comment? %>
    <p class="comment">
        <%= fair_date.comment %>
    </p>
  <% end %>
  <%=clear_float %>
</li>

