#message_window
  - form_for @fair_date do |f|
    -if @popup
      = hidden_field_tag 'popup', true
    %h1 Messetermin bearbeiten
    = make_if_error_messages_for @fair_date
    .message
      %p
        = f.label :name
        %br
        = f.text_field :name, :size => 30, :tabindex => 1
      %p
        = f.label :stand
        %br
        = f.text_field :stand, :size => 30, :tabindex => 2
      %p
        = f.label :from_date, 'Zeitraum:'
        %br
        = f.text_field :from_date, :value => l(@fair_date.from_date), :size => 10, :class => 'date', :tabindex => 3
        = f.label :to_date, 'bis'
        = f.text_field :to_date, :value => l(@fair_date.to_date), :size => 10, :class => 'date', :tabindex => 4
      %p
        = f.label :homepage
        %br
        = f.text_field :homepage, :size => 30, :tabindex => 5
      %p
        = f.label :comment
        %br
        = f.text_area :comment, :cols => 30, :rows => 5, :tabindex => 6
    .response
      = a_button_to 'Abbrechen.', fair_dates_path, :onclick => 'closeAfter(0); return false;',
        :class => 'button', :tabindex => 8
      = submit_tag 'Speichern!', :class => 'button', :tabindex => 7
= set_focus_to 'fair_date_name'
