<div id="<%= category.html_id %>" class="category_overview">
  <h2>
    <%= link_to(
      category.name,
      category.is_a?(Subcategory) ?
        subcategory_path(category.url_hash) :
        category_path(category.url_hash)
    ) %>
    <% if employee_logged_in? %>
      <%= link_to_remote(
        image_tag('pictogram/small/edit.png'),
        :url => edit_category_path(category.id),
        :method => :get,
        :html => {:class => 'toolbutton', :title => "Titel von #{category.class.human_name} bearbeiten."}
      ) %>
      <%= link_to(
        image_tag('pictogram/small/destroy.png'),
        category.is_a?(Subcategory) ?
          ask_destroy_subcategory_path(category.url_hash) :
          ask_destroy_category_path(category.url_hash),
        :method => :get,
        :class => 'toolbutton',
        :title => "#{category.class.human_name} löschen!"
      ) %>
    <% end %>
  </h2>
  <%= render :partial => 'category_body', :locals => {:category => category} %>
</div>

