<div id="<%= category.html_id %>" class="category_overview">
  <h2>
    <%= link_to(
      category.name,
      category.is_a?(Subcategory) ?
        subcategory_path(category.url_hash) :
        category_path(category.url_hash)
    ) %>
    <% if logged_in? Employee %>
      <%= toolbutton_to_remote(
        :edit,
        :size => :small,
        :url => edit_category_path(category.id),
        :method => :get,
        :html => {:title => "Titel von #{category.class.human_name} bearbeiten."}
      ) %>
      <%= toolbutton_to(
        :destroy,
        category.is_a?(Subcategory) ?
          ask_destroy_subcategory_path(category.url_hash) :
          ask_destroy_category_path(category.url_hash),
        :size => :small,
        :method => :get,
        :title => "#{category.class.human_name} löschen!"
      ) %>
    <% end %>
  </h2>
  <%= render :partial => 'category_body', :locals => {:category => category} %>
</div>

