<div id="message_window">
  <h1><%= @category.class.human_name %> löschen?</h1>
  <div class="message">
    Möchten Sie wirklich die <%= @category.class.human_name %>
    <p class="em">
      <%= @category.name %>
    </p>
    <em>endgültig</em> löschen?
  </div>
  <div class="response">
    <%= button_to(
      'Nein, lieber nicht.',
      @category.is_a?(Subcategory) ?
        category_path(@category.category.url_hash(:anchor => @category.html_id)) :
        categories_path(:anchor => @category.html_id),
      :method => :get
    ) %>
    <%= button_to(
      'Ja, wirklich!',
      {:controller => 'categories', :action => 'destroy', :id => @category.id},
      :method => :delete
    ) %>
  </div>
</div>

