<div id="message_window">
  <h1>Bild von „<%= @article.name %>“bearbeiten</h1>
  <% form_for @article, :url => article_picture_path(@article.id, :popup => @popup), :method => :put, :html => {:multipart => true} do |f| %>
    <%= make_if_error_messages_for @article %>
    <div class="message">
      <%= f.file_field :picture %><br>
    </div>
    <div class="response">
      <%= submit_tag 'Bild speichern!', :disable_with => 'Wird hochgeladen …' %>
    </div>
  <% end %>
  <%= set_focus_to 'article_picture' %>
  <div class="response">
    <%= button_to(
      'Bild löschen?',
      article_picture_path(@article.id, :popup => @popup),
      :method => :delete,
      :confirm => 'Soll das Bild wirklich dauerhaft gelöscht werden?'
    ) if @article.picture? %>
  </div>
</div>
