<div id="message_window" class="<%= flash[:message][:class] %>">
  <div class="title">
    Änderungen am Bild gespeichert
  </div>
  <div class="message">
    <p>
      <%= flash[:message][:text] %>
    </p>
    <% if @article.picture? %>
      <p>
        <%= image_tag @article.picture.url(:thumb) %>
      </p>
    <% end %>
  </div>
  <div class="response">
    <%= javascript_tag 'closeAfter(1000)' %>
    <%= link_to_function 'Fenster schließen.', 'window.close()' %>
  </div>
</div>

