#header
  #important_links
    = brick :logout if logged_in?
    = text_menu((link_to('Anmelden', new_session_path) unless logged_in?),
                (brick(:email_link) if logged_in? Employee),
                (link_to('Profil', my_profile_path) if logged_in?),
                static_link_to(:kontakt),
                static_link_to(:impressum),
                static_link_to(:AGB))
  #header_images_with_logo
    #left_header_image
      - if logged_in? Employee and not AppData['left_header_image_path'].blank?
        = toolbutton_to_remote(:close, :size => :xsmall,
          :url => header_images_path(:id => 'links'),
          :method => :put, :html => {:title => "Bild entfernen"})
      #right_header_image
        - if logged_in? Employee and not AppData['right_header_image_path'].blank?
          = toolbutton_to_remote(:close, :size => :xsmall,
            :url => header_images_path(:id => 'rechts'),
            :method => :put, :html => {:title => "Bild entfernen"})
        #logo_container
          = link_to(image_tag('logo/original.png', :alt => 'LEIKOR-Logo',
            :title => 'Zurück zur Startseite'), :root, :class => 'original_logo')
          = link_to(image_tag('logo/medium.png', :alt => 'LEIKOR-Logo',
            :title => 'Zurück zur Startseite'), :root, :class => 'medium_logo')
      - if logged_in? Employee
        = clear_float
  #top_navigation
    %h1.control{:style => "display: none;"}
      %a{:href => '#'}
        %span.pictogram
          Menü
    %ul.navigation
      = list_menu(link_to(t('views.sections.categories_controller'), :categories),
                  link_to(t('views.sections.blog_controller'), :blog_posts),
                  link_to(t('views.sections.fair_dates_controller'), fair_dates_path),
                  static_link_to(:'ueber-uns'),
                  (link_to(t('views.sections.profiles_controller'), profiles_path) if logged_in? Employee))
    = clear_float
    :javascript
      showMenu = function(doInstantly) {
        $('top_navigation').addClassName('close');
        if(doInstantly)
          $$('#top_navigation .navigation')[0].show();
        else
          Effect.BlindDown($$('#top_navigation .navigation')[0]);
      }

      hideMenu = function(doInstantly) {
        $('top_navigation').removeClassName('close');
        if(doInstantly)
          $$('#top_navigation .navigation')[0].hide();
        else
          Effect.BlindUp($$('#top_navigation .navigation')[0]);
      }

      updateMenu = function() {
        if(document.viewport.getWidth() <= 470){
          $$('#top_navigation .control')[0].show();
          hideMenu(true);
        } else {
          $$('#top_navigation .control')[0].hide();
          showMenu(true);
        }
      }

      $$('#top_navigation .control')[0].show();
      updateMenu();
      Event.observe(window, 'resize', updateMenu);
      
      $$('#top_navigation .control')[0].on('click', function () {
        if($('top_navigation').classNames().include('close'))
          hideMenu();
        else
          showMenu();
        
        return false;
      });
