<meta name="google-site-verification" content="RCwJrk-MoarXBmm6EtlRhS6aKaJnQu8S1bj-Vn0IAsM" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<meta http-equiv="x-ua-compatible" content="IE=8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title>leikor.de - <%= @title || 'Willkommen' %></title>
<%= tag 'link', :rel => 'shortcut icon', :type => 'image/png', :href => '/favicon.png' %>
<%= tag 'link', :rel => 'shortcut icon', :type => 'image/x-icon', :href => '/favicon.ico' %>
<%= stylesheet_link_tag 'layout' %>
<% @stylesheets.each do |s| %>
  <%= stylesheet_link_tag s %>
<% end unless @stylesheets.nil? %>
<%= javascript_include_tag :defaults %>
<!--[if lt IE 9]>
	<%= javascript_include_tag 'respond.min.js' %>
<![endif]-->
