<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body>
    <%= render :partial => 'layouts/message' %>
    <div id="header">
      <div id="important_links">
        <% if user_logged_in? %>
          <span class="logged_in_user">
            <span class="name"><%= @current_user.name %></span>
            (<%= link_to 'abmelden', session_destroy_path %>)
          </span>
        <% end %> 
        <%= static_link_to :kontakt %> |
        <%= static_link_to :impressum %> |
        <%= static_link_to :AGB %>
      </div>
      <div id="logo_container">
        <%= link_to(
          image_tag(
            'logo/original.png',
            :alt => 'LEIKOR-Logo',
            :title => 'Zurück zur Startseite'
          ),
          :root
        ) %>
      </div>
      <div id="top_navigation">
        <ul class="navigation">
          <!--a>News</a-->
          <li><%= link_to 'Sortiment', :categories, :class => 'first' %></li>
          <!--a>Angebote</a-->
          <li><%= link_to 'Messetermine', fair_dates_path %></li>
          <li><%= static_link_to :ueber_uns %></li>
          <li><%= static_link_to :colors, {}, {:class => 'last'} if RAILS_ENV == 'development' %></li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <div id="body">
      <%= yield %>
      <div class="clear"></div>
    </div>
    <%= render :partial => 'layouts/footer' %>
    <div id="picture_viewer"></div>
  </body>
</html>
