<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body>
    <%= render :partial => 'layouts/message' %>
    <div id="header">
      <div id="important_links">
        <% if user_logged_in? %>
          <span class="logged_in_user">
            <span class="name"><%= @current_user.name %></span>
            (<%= link_to 'abmelden', destroy_session_path %>)
          </span>
        <% else %>
          <%= link_to 'Anmelden', new_session_path %> |
        <% end %> 
        <% if employee_logged_in? %>
          <span class="nobreak">
            <%= link_to 'E-Mail', 'https://mail.google.com/a/leikor.de' %>
          <span> |
        <% end %> 
        <% if user_logged_in? %>
          <%= link_to 'Profil', my_profile_path %> |
        <% end %> 
        <%= static_link_to :kontakt %> |
        <%= static_link_to :impressum %> |
        <%= static_link_to :AGB %>
      </div>
      <div id="logo_container">
        <%= link_to(
          image_tag(
            'logo/original.png',
            :alt => 'LEIKOR-Logo',
            :title => 'Zurück zur Startseite'
          ),
          :root,
          :class => 'original_logo medium_logo'
        ) %>
        <!--%= link_to(
          image_tag(
            'logo/medium.png',
            :alt => 'LEIKOR-Logo',
            :title => 'Zurück zur Startseite'
          ),
          :root,
          :class => 'medium_logo'
        ) %-->
      </div>
      <div id="top_navigation">
        <h1 style="display: none;">Navigation</h1>
        <ul class="navigation">
          <!--a>News</a-->
          <li><%= link_to 'Sortiment', :categories, :class => 'first' %></li>
          <!--a>Angebote</a-->
          <li><%= link_to 'Messetermine', fair_dates_path %></li>
          <li><%= static_link_to :ueber_uns %></li>
          <% if employee_logged_in? %>
            <li><%= link_to 'Profile', profiles_path, :class => 'last' %></li>
          <% end %>
          <% if RAILS_ENV == 'development' %>
            <li><%= static_link_to :colors, {}, {:class => 'last'} %></li>
          <% end %>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <div id="body">
      <%= yield %>
      <div class="clear"></div>
    </div>
    <%= render :partial => 'layouts/footer' %>
    <div id="picture_viewer"></div>
  </body>
</html>
