<div id="categories"<%= ' class="empty"' if @categories.empty? %>>
  <h1 style="display: none;">Kategorien-Browser</h1>
  <ul id="categories_list" class="navigation">
    <% for category in @categories %>
      <li id="<%= 'categoryBrowser_' + category.id.to_s %>">
        <%= render(
          :partial => 'layouts/category_link',
          :locals => {
            :label => category.name,
            :path => category_path(category.url_hash),
            :css_class => positional_class(category, @categories, category === @category ? 'selected' : ''),
            :show_handle => employee_logged_in?}) %>
        <% if category === @category %>
          <% unless @category.subcategories.empty? %>
            <div class="subcategory">
              <ul id="subcategories_list" class="navigation">
                <% for subcategory in @category.subcategories %>
                  <li id="<%= 'subcategoryBrowser_' + subcategory.id.to_s %>">
                    <%= render(
                      :partial => 'layouts/category_link',
                      :locals => {
                        :label => subcategory.name,
                        :path => subcategory_path(subcategory.url_hash),
                        :css_class => positional_class(subcategory, @category.subcategories, subcategory === @subcategory ? 'selected' : ''),
                        :show_handle => employee_logged_in?}) %>
                  </li>
                <% end %>
              </ul>
              <div class="clear"></div>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>
<% if employee_logged_in? %>
  <% sortables = ['categories_list'] %>
  <% sortables << 'subcategories_list' unless @category.nil? %>
  <% sortables.each do |html_id| %>
    <%= sortable_element(
      html_id,
      :url => reorder_categories_path,
      :onChange => 'recreatePositionalClasses',
      :handle => 'handle') %>
  <% end %>
<% end %>
<% javascript_tag do %>
  if(document.viewport.getWidth() <= 470) {
    target = '<%= @scroll_target %>';
    if(window.location.hash != '')
      target = window.location.hash.substr(1);
    
    Effect.ScrollTo(target, {duration: 1.0, offset: -8});
  }
<% end if @scroll_target %>
<div id="content"<%= ' class="empty"' if @categories.empty? %>>
  <%= yield %>
</div>

