<div id="categories">
  <ul class="navigation">
    <% for category in @categories %>
      <li>
        <% unless category === @category %>
          <%= link_to(
            category.name,
            category_path(category.url_hash),
            :class => positional_class(category, @categories)
          ) %>
        <% else %>
          <%= link_to(
            category.name,
            category_path(category.url_hash),
            :class => positional_class(category, @categories, 'selected')
          ) %>
          <% unless @category.subcategories.empty? %>
            <div class="subcategory">
              <ul class="navigation">
                <% for subcategory in @category.subcategories %>
                  <li>
                    <% unless subcategory === @subcategory %>
                      <%= link_to(
                        subcategory.name,
                        subcategory_path(subcategory.url_hash),
                        :class => positional_class(subcategory, @category.subcategories)
                      ) %>
                    <% else %>
                      <%= link_to(
                        subcategory.name,
                        subcategory_path(subcategory.url_hash),
                        :class => positional_class(
                          subcategory,
                          @category.subcategories,
                          'selected')
                      ) %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              <div class="clear"></div>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>
<div id="content">
  <%= yield %>
</div>
